html {
  font-size: 10px;
  background: url(https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/6586742/910/607/m2/fpnw/wm1/e0m1g6avne2i1j4dsttv0v9hhbagxvfkhpww0xwnxzw2ndz2mf29ey8georbihgy-.jpg?1561385022&s=ae5834e405b16ae39c0e77f3e20d1dce) bottom center;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: 2px solid #888888;
  border-radius: 4px;
  margin: 10px;
  font-size: 1px;
  padding: 5px;
  transition: all .07s ease;
  width: 5%;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 10px black;
}

.playing {
  transform: scale(1.1);
  margin-bottom: 20px;
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
}

kbd {
  display: block;
  font-size: 40px;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
